1.  Utilizando la API de Balldontlie extrae la siguiente información.

 - El nombre, apellido y equipo de cada uno de los jugadores que tenemos en la NBA. Para eso tendrás que usar el [siguiente](https://www.balldontlie.io/home.html#players) endpoint. Extrae información de 200 jugadores. Devuelve los resultados en un DataFrame. Te deberá quedar algo parecido a esto:

In [1]:
import pandas as pd
import requests
import re
pd.set_option('display.max_columns' , None)

In [2]:
def llamar_api(url):
    
    llamada = requests.get(url)  

    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")  

    if llamada.status_code != 200:  
        print(f"El motivo por el que la llamada falló es {llamada.reason}")  
    else:
        return llamada.json()

In [3]:
url_nba = f"https://www.balldontlie.io/api/v1/players?page=1&per_page=100"
jugadores_nba = llamar_api(url_nba)

url_nba2 = f"https://www.balldontlie.io/api/v1/players?page=2&per_page=100"
jugadores_nba2 = llamar_api(url_nba2)

La llamada a la API nos ha dado una respuesta de tipo: 200
La llamada a la API nos ha dado una respuesta de tipo: 200

In [4]:
jugadores_nba_200 = {'data' : jugadores_nba['data'] + jugadores_nba2['data']}

In [5]:
def limpiar_jugadores(json_nba):
    
    jugadores200 = {
        'nombre' : [] ,
        'apellidos' : [] ,
        'equipo' : []}
    
    for jugador in json_nba['data']:
        jugadores200['nombre'].append(jugador['first_name'])
        jugadores200['apellidos'].append(jugador['last_name'])
        jugadores200['equipo'].append(jugador['team']['full_name'])
        
    df_jugadores = pd.DataFrame(jugadores200)
    
    return df_jugadores

In [6]:
df_nba = limpiar_jugadores(jugadores_nba_200)

df_nba

       nombre    apellidos                  equipo
0      Keenan        Evans         Detroit Pistons
1       Billy      Preston     Cleveland Cavaliers
2        Gary    Trent Jr.  Portland Trail Blazers
3         Ken        Menke          Waterloo Hawks
4        Mike        Scott           Atlanta Hawks
..        ...          ...                     ...
195        Ed      Kalafat      Los Angeles Lakers
196  Georgios  Kalaitzakis   Oklahoma City Thunder
197     Chris        Kaman             LA Clippers
198     Frank     Kaminsky         Houston Rockets
199     James        Scott              Miami Heat

[200 rows x 3 columns]

 - Extrae información de todos los partidos jugados, en concreto deberás sacar la información del nombre del equipo local, nombre del equipo visitante, puntos del equipo local y del visitante y la temporada a la que pertenece el partido. Para eso tendrás que usar el [siguiente](https://www.balldontlie.io/home.html#get-all-games) endpoint. Extrae la información de 200 partidos. Devuelve los resultados en un DataFrame. Te deberá quedar algo parecido a esto:

In [7]:
url_nba3 = f"https://www.balldontlie.io/api/v1/games?page=1&per_page=100"
partidos_nba = llamar_api(url_nba3)

url_nba4 = f"https://www.balldontlie.io/api/v1/games?page=2&per_page=100"
partidos_nba2 = llamar_api(url_nba4)

La llamada a la API nos ha dado una respuesta de tipo: 200
La llamada a la API nos ha dado una respuesta de tipo: 200

In [8]:
partidos_nba_200 = {'data' : partidos_nba['data'] + partidos_nba2['data']}

In [9]:
def limpiar_partidos(json_nba):
    
    partidos = {
        'equipo_local' : [] ,
        'equipo_visitante' : [] ,
        'puntos_local' : [],
        'puntos_visitante' : [],
        'temporada' : []}
    
    for partido in json_nba['data']:
        partidos['equipo_local'].append(partido['home_team']['full_name'])
        partidos['equipo_visitante'].append(partido['visitor_team']['full_name'])
        partidos['puntos_local'].append(partido['home_team_score'])
        partidos['puntos_visitante'].append(partido['visitor_team_score'])
        partidos['temporada'].append(partido['season'])
        
    df_partidos = pd.DataFrame(partidos)
    
    return df_partidos

In [10]:
df_partidos = limpiar_partidos(partidos_nba_200)

df_partidos

,equipo_local,equipo_visitante,puntos_local,puntos_visitante,temporada
0,Boston Celtics,Charlotte Hornets,126,94,2018
1,Boston Celtics,LA Clippers,112,123,2018
2,Philadelphia 76ers,Denver Nuggets,117,110,2018
3,Washington Wizards,Cleveland Cavaliers,119,106,2018
4,Sacramento Kings,Miami Heat,102,96,2018
...,...,...,...,...,...
195,Brooklyn Nets,Charlotte Hornets,112,123,2018
196,New York Knicks,Cleveland Cavaliers,118,125,2018
197,Dallas Mavericks,Indiana Pacers,110,101,2018
198,Boston Celtics,Portland Trail Blazers,92,97,2018
199,Houston Rockets,Miami Heat,121,118,2018