1. Actualiza el json de personal, añadiendo un año más a la edad y experiencia de cada registro de personal.

In [1]:
import json

import pandas as pd

In [3]:
with open("/mnt/c/Users/marin/Desktop/Adalab/Teoria-Clases-Invertidas/Modulo-2/personal.json" , "r") as fichero:
    personal = json.load(fichero)

In [6]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [7]:
for empleado in personal['workers']:
    empleado['experiencia'] += 1 
    
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 2,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 4,
   'nivel': 'Mid',
   'salario': 35000}]}

2. Cambia el nivel en función de la experiencia: Junior = 1 año, Mid = 2 o 3 años, Senior más de 4 años.

In [9]:
for empleado in personal['workers']:
    
    if empleado['experiencia'] == 1:
        empleado['nivel'] = 'Junior'
    
    elif empleado['experiencia'] <= 3:
        empleado['nivel'] = 'Mid'
        
    else:
        empleado['nivel'] = 'Senior'
        
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 4,
   'nivel': 'Senior',
   'salario': 35000}]}

3. Cambia el salario en base al nivel: Junior = 25.000, Mid = 35.000, Senior = 50.000

In [10]:
salarios = {'Junior' : 25000 , 'Mid' : 35000 , 'Senior' : 50000}

for empleado in personal['workers']:
    
    empleado['salario'] = salarios[empleado['nivel']]
    
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 4,
   'nivel': 'Senior',
   'salario': 50000}]}

4. Guarda el json con el nombre "personal_actualizado.json"

In [11]:
with open("/mnt/c/Users/marin/Desktop/Adalab/Teoria-Clases-Invertidas/Modulo-2/personal_actualizado.json" , "w") as fichero:
    json.dump(personal , fichero)

5. Abre el json con Pandas.

In [12]:
personal_actualizado = pd.read_json("/mnt/c/Users/marin/Desktop/Adalab/Teoria-Clases-Invertidas/Modulo-2/personal_actualizado.json")

In [13]:
personal_actualizado.head()

                                             workers
0  {'nombre': 'Ana', 'edad': 34, 'experiencia': 6...
1  {'nombre': 'Eva', 'edad': 37, 'experiencia': 3...
2  {'nombre': 'Marta', 'edad': 27, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 30, 'experiencia':...