1. Usa la [siguiente](https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020) página web.

2. Extrae la tabla de las medallas olímpicas que tenéis en la página web.

3. Mete todo el código de la extracción de datos en una función.

4. Los resultados deben estar en un *DataFrame* y hacer una exploración básica con los métodos aprendidos en la lección.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [115]:
def sacar_medallas(url):
    
    url_request = requests.get(url)
    
    if url_request.status_code != 200:
        print(f"Ha habido un problema. Código de respuesta: {url_request.status_code}")
        return url_request

    print(f"La respuesta a la petición ha sido correcta")
        
    sopa_medallas = BeautifulSoup(url_request.content , 'html.parser')
    
    tablas_medallas = sopa_medallas.find_all('table')
    
    tabla = tablas_medallas[0]
    
    encabezados_tabla = tabla.find_all('th')

    encabezados_limpios = [columna.find('a')['title'].strip() if columna.find('a') else columna.text.strip() for columna in encabezados_tabla]

    filas_tabla = tabla.find_all('tr')
    
    resultados_filas = []

    for fila in filas_tabla[1: ]:
        
        fila_texto = fila.text
        elementos_fila = fila_texto.split("\n")[1:-1]
        resultados_filas.append(elementos_fila)
    
    for i_lista , lista in enumerate(resultados_filas):
    
        for i_elemento , elemento in enumerate(lista):
            
            try:
                resultados_filas[i_lista][i_elemento] = int(resultados_filas[i_lista][i_elemento])
                
            except: 
                resultados_filas[i_lista][i_elemento] = resultados_filas[i_lista][i_elemento].replace('\xa0' , '').replace('(' , ' (').strip()
        
        
    df_resultados = pd.DataFrame(resultados_filas)     
    
    df_resultados.columns = encabezados_limpios
    
    print(f"Conversión a DataFrame finalizada")
    
    return df_resultados

In [116]:
medallas_2020 = sacar_medallas('https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020')

La respuesta a la petición ha sido correcta
Conversión a DataFrame finalizada

In [117]:
medallas_2020

     Núm.                  País  Oro  Plata  Bronce  Total
0       1  Estados Unidos (USA)   39     41      33    113
1       2           China (CHN)   38     32      19     89
2       3           Japón (JPN)   27     14      17     58
3       4     Reino Unido (GBR)   22     20      22     64
4       5            ROC  (ROC)   20     28      23     71
..    ...                   ...  ...    ...     ...    ...
89     86         Granada (GRN)    0      0       1      1
90     86          Kuwait (KUW)    0      0       1      1
91     86        Moldavia (MDA)    0      0       1      1
92     86           Siria (SYR)    0      0       1      1
93  Total             93 países  340    338     402   1080

[94 rows x 6 columns]

In [118]:
medallas_2020.head()

  Núm.                  País  Oro  Plata  Bronce  Total
0    1  Estados Unidos (USA)   39     41      33    113
1    2           China (CHN)   38     32      19     89
2    3           Japón (JPN)   27     14      17     58
3    4     Reino Unido (GBR)   22     20      22     64
4    5            ROC  (ROC)   20     28      23     71

In [119]:
medallas_2020.tail()

     Núm.            País  Oro  Plata  Bronce  Total
89     86   Granada (GRN)    0      0       1      1
90     86    Kuwait (KUW)    0      0       1      1
91     86  Moldavia (MDA)    0      0       1      1
92     86     Siria (SYR)    0      0       1      1
93  Total       93 países  340    338     402   1080

In [120]:
medallas_2020.dtypes

Núm.      object
País      object
Oro        int64
Plata      int64
Bronce     int64
Total      int64
dtype: object

In [121]:
medallas_2020['Oro'].unique()

array([ 39,  38,  27,  22,  20,  17,  10,   7,   6,   4,   3,   2,   1,
         0, 340])

In [122]:
medallas_2020['País'].value_counts()

Estados Unidos (USA)          1
Fiyi (FIY)                    1
Armenia (ARM)                 1
República Dominicana (DOM)    1
Azerbaiyán (AZE)              1
                             ..
Bulgaria (BUL)                1
Bélgica (BEL)                 1
Serbia (SRB)                  1
Irán (IRI)                    1
93 países                     1
Name: País, Length: 94, dtype: int64

In [123]:
medallas_2020.notnull().sum()

Núm.      94
País      94
Oro       94
Plata     94
Bronce    94
Total     94
dtype: int64

In [124]:
medallas_2020.describe()

              Oro       Plata      Bronce        Total
count   94.000000   94.000000   94.000000    94.000000
mean     7.234043    7.191489    8.553191    22.978723
std     35.387388   35.106988   41.481857   111.822053
min      0.000000    0.000000    0.000000     1.000000
25%      0.000000    0.250000    1.000000     2.000000
50%      1.000000    1.000000    2.000000     4.500000
75%      3.000000    4.000000    5.000000    11.000000
max    340.000000  338.000000  402.000000  1080.000000

In [128]:
medallas_2020.columns

Index(['Núm.', 'País', 'Oro', 'Plata', 'Bronce', 'Total'], dtype='object')

In [126]:
medallas_2020.shape

(94, 6)

In [127]:
medallas_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Núm.    94 non-null     object
 1   País    94 non-null     object
 2   Oro     94 non-null     int64
 3   Plata   94 non-null     int64
 4   Bronce  94 non-null     int64
 5   Total   94 non-null     int64
dtypes: int64(4), object(2)
memory usage: 4.5+ KB